.additions__list {
  margin: 0;
  padding: 11px 0 5px 0;

  color: black;

  list-style: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: start;
    column-gap: 57px;

    padding: 0 0 10px 0;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 80px;

    padding: 0 0 18px 0;
  }
}

.additions__item {
  @media (min-width: $tablet-width) {
    margin-bottom: 18px;
  }

  @media (min-width: $desktop-width) {
    &:nth-child(2n) {
      margin-left: 0;
    }
  }
}
