.application {
  padding-top: 10px;
  padding-bottom: 29px;

  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding-bottom: 72px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 82px;
  }
}

.application__form {
  font-size: 16px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}

.application__intro {
  margin: 0 0 17px 0;

  color: black;

  @media (min-width: $tablet-width) {
    margin-bottom: 35px;
    margin-top: 18px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 20px;
  }
}

.application__wrapper {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.application__fieldset {
  margin: 0;
  padding: 10px 0 11px 0;
  border: 0;
}

.application__fieldset--cat-info {
  @media (min-width: $desktop-width) {
    padding-right: 40px;
  }
}

.application__fieldset--radio {
  position: relative;
  padding-bottom: 6px;
  margin-bottom: 25px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 50%;
    margin-left: -50vw;
    width: 100vw;
    height: 1px;
    background-color: #e6e6e6;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  @media (min-width: $tablet-width) {
    margin-top: 42px;
    margin-bottom: 40px;
    padding: 10px 28px;

    border: 1px solid #e7e7e7;

    &::before,
    &::after {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    margin-top: 30px;
    margin-bottom: 33px;
    margin-left: 40px;
  }
}

.application__fieldset-title {
  display: inline-block;

  padding: 1px 0 12px 0;

  font-size: 24px;
  line-height: 26px;
  text-transform: none;

  color: black;

  &::after {
    content: "";
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 100vw;
    height: 2px;
    margin-right: -100vw;
    right: -22px;
    background-color: $basicgreen;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 34px;
    padding-top: 35px;

    font-size: 36px;
    line-height: 36px;

    & br {
      display: none;
    }

    &::after {
      right: -40px;
    }

    &::before {
      content: "";
      position: relative;
      display: inline-block;
      vertical-align: middle;
      width: 100vw;
      height: 2px;
      margin-left: -100vw;
      left: -40px;
      background-color: $basicgreen;
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 37px;
  }
}

.application__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.application__list--two-columns {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }
}

.application__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  margin: 13px 0;

  @media (min-width: $tablet-width) {
    margin: 20px 0;
  }
}

.application__item--radio {
  @media (min-width: $tablet-width) {
    margin: 12px 0;
  }
}

.application__item--textarea {
  box-sizing: border-box;
  width: 100%;
  height: 150px;
  margin-top: 15px;
  padding: 9px 12px 9px 15px;

  font: inherit;
  text-transform: uppercase;

  border: 1px solid #e7e7e7;

  @media (min-width: $tablet-width) {
    margin-top: 18px;
    height: 174px;
  }
}

.application__item input {
  flex-grow: 1;
  box-sizing: border-box;
  padding: 12px 15px 13px 15px;

  font: inherit;
  text-transform: uppercase;

  border: 1px solid $specialgrey;

  @media (min-width: $tablet-width) {
    padding: 10px 15px 10px 15px;
  }
}

.application__label {
  cursor: pointer;
}

.application__label--text {
  margin-right: 14px;
}

.application__input {
  background-repeat: no-repeat;

  &--email {
    background-image: url("../img/icon_email.svg");
    background-position: right 14px center;
    background-size: 20px 14px;
  }

  &--phone {
    background-image: url("../img/icon_phone.svg");
    background-position: right 12px center;
    background-size: 20px 20px;
  }
}

.application__end-wrapper {
  margin-top: 4px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;

    margin-top: 0;
  }

  @media (min-width: $desktop-width) {
    column-gap: 80px;
  }
}

.application__button {
  line-height: 20px;

  @media (min-width: $tablet-width) {
    width: 282px;
    height: 52px;

    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.application__note {
  margin: 22px 0 2px 0;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-transform: none;
  text-align: center;

  color: black;

  @media (min-width: $tablet-width) {
    margin: 17px 0 0 0;

    font-size: 16px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    margin: 18px 0 0 0;
  }
}
