.button {
  display: block;
  box-sizing: border-box;
  width: 280px;
  min-height: 40px;

  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  color: white;
  background-color: $basicgreen;
  border: none;

  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $basicgreen2;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}
