.case {
  padding-top: 20px;
  padding-bottom: 34px;

  background-color: $greyforcase;

  @media (min-width: $tablet-width) {
    padding-bottom: 26px;

    background-color: transparent;
    background-image: linear-gradient(to top, $greyforcase, $greyforcase);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 100% 462px;
    border-top: 1px solid $greyforlines;
  }

  @media (min-width: $desktop-width) {
    padding-top: 10px;
    padding-bottom: 1px;

    background-image: linear-gradient(to top, $basicgrey, $basicgrey);

    border-top: none;
  }
}

.case__wrapper {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: auto 690px;
    gap: 100px;

    width: 1220px;
    margin: 0 auto;
    padding: 0 110px;

    background-image: linear-gradient(to top, $greyforcase, $greyforcase);
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 395px 462px;
  }
}

.case__title {
  margin: 7px 0;

  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  text-align: left;

  color: black;

  @media (min-width: $tablet-width) {
    padding-top: 16px;

    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 146px;
    padding-top: 57px;
  }
}

.case__text {
  margin: 33px 0 25px 0;

  @media (min-width: $tablet-width) {
    margin: 65px 0 53px 0;
  }
}

.case__numbers-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    padding-top: 16px;
  }
}

.case__list {
  margin: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  text-align: center;
}

.case__item {
  position: relative;
  flex-grow: 1;
  min-width: 124px;
  margin-right: 31px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -50%;
    min-width: 124px;
    width: 100%;
    height: 56px;
    background-image: url("../img/frame-for-case.svg");
    background-position: top center;
    background-repeat: no-repeat;
  }

  &:last-child {
    margin-right: 0;
  }

  @media (min-width: $tablet-width) {
    min-width: 162px;
    margin-right: 42px;

    &::before {
      width: 162px;
      height: 72px;
      background-position: top center;
      background-repeat: no-repeat;
    }

    &--weight::before {
      background-image: url("../img/frame-for-case_weight_tablet.svg");
    }

    &--time::before {
      background-image: url("../img/frame-for-case_time_tablet.svg");
    }
  }
}

.case__number {
  width: 110px;
  margin: 0 auto;
  padding-top: 14px;
  padding-bottom: 10px;

  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;

  color: black;

  @media (min-width: $tablet-width) {
    width: 150px;

    font-size: 30px;
    line-height: 37px;
  }
}

.case__description {
  width: 82px;
  margin: 0 auto;

  font-size: 12px;
  line-height: 12px;

  @media (min-width: $tablet-width) {
    width: 130px;
    margin-top: 1px;

    font-size: 14px;
    line-height: 14px;
  }
}

.case__description br {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.case__sum {
  margin: 19px 0 41px 0;

  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;

  color: black;

  @media (min-width: $tablet-width) {
    width: 180px;
    margin: 7px 0 40px auto;

    font-size: 20px;
    line-height: 28px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    width: 366px;
    margin: 52px auto 40px 0;

    text-align: left;
  }
}

.case__sum span {
  @media (min-width: $desktop-width) {
    margin-left: 58px;
  }
}

.case__slider {
  text-align: center;

  @media (min-width: $tablet-width) {
    position: relative;
  }
}

.case__slider-wrapper {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 405px 325px;
  }
}

.case__image-before-wrapper {
  margin: 0;

  @media (min-width: $tablet-width) {
    text-align: right;
  }
}

.case__image-after-wrapper {
  margin: 0;

  @media (min-width: $tablet-width) {
    text-align: left;
  }
}

.case__image-before {
  width: 311px;
  height: 232px;
  margin-left: -10px;

  @media (min-width: $tablet-width) {
    width: 354px;
    height: 620px;
    margin-top: 32px;
    margin-left: 0;
  }

  @media (min-width: $desktop-width) {
    width: 405px;
    height: 536px;
    margin-top: 5px;
    margin-right: -40px;
  }
}

.case__image-after {
  display: none;
  width: 251px;
  height: 240px;
  margin-bottom: -8px;

  @media (min-width: $tablet-width) {
    display: block;
    width: 354px;
    height: 607px;
    margin-top: 40px;
  }

  @media (min-width: $desktop-width) {
    width: 325px;
    height: 654px;
    margin-top: 7px;
    margin-bottom: 0;
    margin-right: -40px;
  }
}

.case__slider-toggles {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 29px 0 0 0;

  &::before {
    content: "";
    position: absolute;
    width: 82px;
    height: 12px;
    top: 3px;
    left: 50%;
    margin-left: -41px;

    background-color: white;
    border: 1px solid $specialgrey;
    border-radius: 6px;
  }

  &::after {
    content: "";
    position: absolute;
    width: 35px;
    height: 6px;
    top: 7px;
    left: 50%;
    margin-left: -35px;

    background-color: $basicgreen;
    border-radius: 6px;

    cursor: pointer;
  }

  @media (min-width: $tablet-width) {
    margin: -74px 0 43px 0;

    background-image: none;

    &::before {
      width: 428px;
      height: 6px;
      top: 13px;
      margin-left: -214px;

      background-color: #dcdcdc;
      border: none;
    }

    &::after {
      width: 8px;
      height: 8px;
      top: 0;
      margin-left: -16px;

      border: 12px solid #ffffff;
      border-radius: 50%;
      box-shadow: 0 0 0 1px $specialgrey, 0 1px 3px 1px rgba(0, 0, 0, 0.16);
    }

    &:hover::after {
      box-shadow: 0 0 0 1px $specialgrey, 0 2px 4px 1px rgba(0, 0, 0, 0.19);
    }

    &:active::after {
      box-shadow: 0 0 0 1px $basicgreen, 0 3px 5px 1px rgba(0, 0, 0, 0.2);
    }
  }

  @media (min-width: $desktop-width) {
    margin: -100px 0 68px 120px;
  }
}

.case__slider-toggle {
  margin-right: 118px;
  padding: 0;

  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;

  background-color: transparent;
  color: black;
  border: none;
  border-bottom: 1px solid transparent;

  cursor: pointer;

  &:last-child {
    margin-right: -5px;
  }

  &:hover,
  &:focus {
    border-bottom: 1px solid rgba(0, 0, 0, 0.24);
  }

  &:active {
    border-bottom: none;
  }

  @media (min-width: $tablet-width) {
    margin-right: 473px;

    font-size: 20px;
    line-height: 30px;

    border-bottom: 1px dotted rgba(0, 0, 0, 0.4);

    &:last-child {
      margin-right: 0;
    }
  }
}
