.copyright__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  margin: 8px 0;

  font-size: 16px;
  text-decoration: none;
  color: $darkgrey;

  &:active {
    opacity: 0.3;
  }
}

.copyright__logo {
  width: 27px;
  height: 34px;

  fill: #666666;

  &:hover,
  &:focus {
    fill: $basicgreen;
  }

  @media (min-width: $tablet-width) {
    margin-left: 22px;
  }
}
