.goals__list {
  margin: 0;
  padding: 0;

  list-style: none;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    align-content: start;

    width: 1220px;
    margin-bottom: 30px;
  }
}

.goals__item {
  position: relative;
  box-sizing: border-box;
  padding: 20px;
  margin-bottom: 22px;

  background-color: $basicgrey;

  &::before {
    content: "";
    position: absolute;
    top: 24px;
    left: 22px;
    width: 50px;
    height: 50px;
    border-radius: 50%;

    background-color: $basicgreen;
  }

  &::after {
    content: "";
    position: absolute;

    background-repeat: no-repeat;
    background-position: 0 0;
  }

  &--slim::after {
    top: 21px;
    left: 29px;
    width: 50px;
    height: 53px;

    background-image: url("../img/icon_cat_sit.svg");
  }

  &--pro::after {
    top: 35px;
    left: 13px;
    width: 67px;
    height: 50px;

    background-image: url("../img/icon_cat_go.svg");
  }

  @media (min-width: $tablet-width) {
    padding: 60px 0 56px 52px;
    margin-bottom: 30px;

    &::before {
      width: 200px;
      height: 200px;
      top: 91px;
      right: 62px;
      left: auto;
    }

    &--slim::after {
      top: 81px;
      right: 91px;
      left: auto;
      width: 140px;
      height: 192px;
    }

    &--pro::after {
      top: 137px;
      right: 28px;
      left: auto;
      width: 268px;
      height: 112px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    padding: 60px 51px 58px 52px;
    margin-bottom: 27px;

    &::before {
      width: 100px;
      height: 100px;
      top: 47px;
      right: auto;
      left: 52px;
    }

    &--slim::after {
      top: 41px;
      right: auto;
      left: 67px;
      width: 70px;
      height: 97px;
    }

    &--pro::after {
      top: 67px;
      right: auto;
      left: 33px;
      width: 134px;
      height: 100px;
    }
  }
}

.goals__title {
  margin: 0;
  padding-left: 71px;
  padding-top: 10px;
  padding-bottom: 10px;

  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  text-align: left;
  text-transform: uppercase;

  color: black;

  @media (min-width: $tablet-width) {
    padding-left: 0;
    padding-top: 18px;

    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 162px;
    padding-bottom: 60px;
  }
}

.goals__description {
  margin: 19px 0 22px 0;

  @media (min-width: $tablet-width) {
    margin-top: 14px;
  }
}

.goals__item--slim .goals__description {
  @media (min-width: $tablet-width) {
    width: 377px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.goals__item--pro .goals__description {
  @media (min-width: $tablet-width) {
    width: 342px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.goals__link {
  position: relative;
  display: block;
  padding-top: 19px;

  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;

  color: black;
  border-top: 1px solid #d9d9d9;

  &::after {
    content: "";
    position: absolute;
    top: 20px;
    left: 100px;
    width: 24px;
    height: 12px;
    background-image: url("../img/icon_arrow.svg");
    background-repeat: no-repeat;
  }

  &:hover::after,
  &:focus::after {
    width: 32px;
    background-image: url("../img/icon_arrow_big.svg");
    background-repeat: no-repeat;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    padding-top: 30px;
    border-top: none;

    font-size: 20px;
    line-height: 30px;

    &::after {
      top: 38px;
      left: 132px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 4px;

    &::after {
      top: 14px;
      left: 132px;
    }
  }
}
