.page-main {
  grid-area: content;
}

.page-main__h1-wrapper {
  position: relative;
  /*display: grid;
  grid-template-rows: 1fr;*/

  @media (min-width: $desktop-width) {
    margin-bottom: 83px;
  }
}

.page-main__title {
  /*grid-row: 1 / 2;
  grid-column: 1 / -1;*/
  position: absolute;
  top: 27px;
  box-sizing: border-box;
  width: 100%;
  margin: 0;

  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;

  color: white;

  z-index: 1;

  @media (min-width: $tablet-width) {
    padding-left: 117px;
    padding-right: 30px;
    top: 40px;

    font-size: 60px;
    line-height: 60px;
    text-align: left;

    color: black;
  }

  @media (min-width: $desktop-width) {
    max-width: 600px;
    top: 225px;
    left: 73px;
    padding-right: 0;
  }
}
