.page-footer {
  grid-area: footer;

  position: relative;
}

.page-footer__icons-box {
  padding-top: 39px;
  padding-bottom: 22px;

  text-align: center;

  background-color: $basicgrey;

  @media (min-width: $tablet-width) {
    padding-top: 55px;
    padding-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 53px;
    padding-bottom: 53px;
  }
}

.page-footer__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
}

.page-footer__logo {
  margin-bottom: 27px;

  @media (min-width: $tablet-width) {
    min-width: 164px;
    margin: 0;

    text-align: left;
  }

  @media (min-width: $desktop-width) {
    margin-top: 4px;
  }
}

.page-footer__logo-link {
  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-footer__logo img {
  width: 128px;
  height: 24px;
}

.page-footer__social {
  margin: 0;
  padding: 22px 0 16px 0;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    border: none;
    padding: 0;
    margin-top: -2px;
  }
}

.page-footer__copyright {
  padding-top: 14px;

  @media (min-width: $tablet-width) {
    min-width: 164px;
    padding: 0;
    margin-top: -9px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -2px;
  }
}
