.page-header {
  grid-area: header;

  // фон тут, чтобы при увеличении кол-ва пунктов меню оно оставалось на нем
  &--index {
    @media (min-width: $desktop-width) {
      min-height: 694px;
      margin-bottom: -567px;

      background-image:
        linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
        url("../img/promo-background-desktop.jpg");
      background-position: right top;
      background-repeat: no-repeat;
      background-size:
        50% 694px,
        50% auto;

      @media (min-resolution: 2dppx) {
        background-image:
          linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
          url("../img/promo-background-desktop@2x.jpg");
      }
    }
  }
}

.page-header--inner,
.page-header__wrapper {
  box-sizing: border-box;
  width: 100%;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    padding-top: 29px;
  }
}

.page-header__logo {
  height: 38px;
  margin-top: 12px;
  margin-bottom: 15px;
  flex-shrink: 0;

  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    height: 51.68px;
    margin-top: 24px;
  }

  @media (min-width: $desktop-width) {
    height: 59px;
  }
}

.page-header__logo-image {
  width: 191px;
  height: 37.61px;

  @media (min-width: $tablet-width) {
    width: 174px;
    height: 51.68px;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
    height: 59px;
  }
}
