.product-card {
  display: grid;
  grid-template-areas:
    "product-image product-title"
    "product-image product-info"
    "product-button product-button";
  grid-template-columns: 1fr 1fr;
  grid-template-rows:
    min-content
    min-content;

  font-size: 12px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    grid-template-areas:
      "product-image"
      "product-title"
      "product-info"
      "product-button";
    grid-template-columns: 1fr;
    grid-template-rows:
      min-content
      min-content
      min-content
      min-content;

    padding: 0 36px 40px 36px;

    background-image: linear-gradient(to top, $basicgrey, $basicgrey);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 100% 430px;

    font-size: 16px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 34px 41px 39px;
  }
}

.product-card__title {
  grid-area: product-title;

  margin: 2px 0;

  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  text-transform: uppercase;

  color: $specialdarkgrey;

  @media (min-width: $tablet-width) {
    margin-bottom: 11px;

    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 8px;

    line-height: 21px;
  }
}

.product-card__off-mobile {
  display: none;

  @media (min-width: $tablet-width) {
    display: inline-block;
  }
}

.product-card__off-tablet {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.product-card__image-wrapper {
  grid-area: product-image;

  margin: 0;

  @media (min-width: $tablet-width) {
    text-align: center;

    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 42px;
  }
}

.product-card__image {
  width: 140px;
  height: 112px;

  @media (min-width: $tablet-width) {
    width: 168px;
    height: 200px;
  }

  @media (min-width: $desktop-width) {
    width: 172px;
    height: 196px;
  }
}

.product-card__parameters-list {
  margin: 0;

  @media (min-width: $desktop-width) {
    margin-top: 8px;
    padding: 0 3.5px 0 0;
  }
}

.product-card__parameters-item {
  grid-area: product-info;

  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    margin: 9px 0 6px 0;
    padding-bottom: 6px;

    border-bottom: 1px solid $specialgrey;
  }
}

.product-card__button {
  grid-area: product-button;

  width: 100%;
  margin-top: 9px;
  padding-top: 12px;

  @media (min-width: $tablet-width) {
    margin-top: 27px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 27px;
  }
}
