.promo {
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    margin-bottom: 7px;
  }
}

.promo__wrapper {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:
      min-content
      min-content
      min-content;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 448px auto;
    grid-template-rows:
      min-content
      min-content
      min-content;
    grid-template-areas:
      "p-slogan p-image"
      "p-button p-image"
      ". p-image";
  }
}

.promo__slogan {
  margin: 25px 0 29px 0;

  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;

  color: white;

  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    margin: 42px 0 18px 88px;

    font-size: 20px;
    line-height: 20px;
    text-align: left;

    color: black;
    z-index: 1;
  }

  @media (min-width: $desktop-width) {
    margin: 41px 0 10px 80px;
    grid-area: p-slogan;
  }
}

// для позиционирования в гриде (т.к. есть picture)
.promo__image-wrapper {
  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
    grid-row: 2 / -1;
    margin: 1px 0 -7px 0;
  }

  @media (min-width: $desktop-width) {
    grid-area: p-image;
    margin: -202px 0 0 0;
  }
}

.promo__image {
  display: block;
  width: 280px;
  height: 270px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 709px;
    height: 609px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    width: 552px;
    height: 499px;
  }
}

.promo__button {
  margin: 3px auto 0 auto;
  padding: 11px 2px;

  font-size: 14px;

  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    margin: 30px 0 0 82px;
    min-height: 54px;
    width: 244px;
    padding: 17px 2px;
    z-index: 1;

    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    margin: 40px 0 27px 80px;
    grid-area: p-button;
  }
}
