.social__list {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0;
  padding: 0;

  list-style: none;
}

.social__item {
  width: 23px;
  margin-right: 33px;

  &:last-child {
    margin-right: 0;
  }

  @media (min-width: $tablet-width) {
    width: 30px;
    margin-right: 24px;
  }
}

.social__icon--vkontakte,
.social__icon--instagram {
  fill: #666666;

  &:hover,
  &:focus {
    fill: $basicgreen;
  }

  &:active {
    fill-opacity: 0.3;
  }
}

.social__icon--vkontakte {
  width: 23px;
  height: 16px;

  @media (min-width: $tablet-width) {
    width: 30px;
    height: 22px;
  }
}

.social__icon--instagram {
  width: 16px;
  height: 16px;

  @media (min-width: $tablet-width) {
    width: 23px;
    height: 23px;
  }
}

.social__icon--facebook {
  fill: none;
  stroke: #666666;
  width: 20px;
  height: 20px;
  margin-left: -7px;

  &:hover,
  &:focus {
    stroke: $basicgreen;
  }

  &:active {
    stroke-opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    width: 24px;
    height: 29px;
    margin-left: -16px;
  }
}
