// Colors

$basicgrey: #f2f2f2;
$basicgreen: #68b738;
$basicgreen2: #5eaa2f;

$greyforcase: #eaeaea;
$darkgrey: #444444;
$specialgrey: #cdcdcd;
$specialdarkgrey: #222222;
$greyforlines: #e6e6e6;

// Viewports

$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;
